<!doctype html>
<html lang="en" ng-app="mitch" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Mitch List</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
		<link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
		<style>[ng-cloak] { display: none; }</style>
		<base href="/">
	</head>
	<body>
		<section id="todoapp" ng-controller="ListCtrl" ng-cloak>
			<header id="header">
				<h1 ng-dblclick="enterEditMode()">{{list.title}}</h1>
				<div id="header-edit" ng-show="editMode">
				<form ng-submit="editMode = false;">
					<input id="title" class="edit" ng-model="list.title" todo-focus="editMode" todo-escape="revertTitle()">
				</form>
				<form id="todo-form" ng-submit="addItem()">
					<input id="new-todo" placeholder="Add a new item here" ng-model="newItem" autofocus>
				</form>
				</div>
			</header>
			<section id="main" ng-show="list.items.length" ng-cloak>
				<ul ui-sortable ng-model="list.items" id="todo-list">
					<li ng-repeat="item in list.items" ng-class="{editing: editMode && item == editedItem}">
						<div class="view">
							<label ng-dblclick="editItem(item)">{{item.content}}</label>
							<button ng-show="editMode" class="destroy" ng-click="removeItem(item)"></button>
						</div>
						<form ng-submit="doneEditing(item)">
							<input class="edit" ng-trim="false" ng-model="item.content" ng-blur="doneEditing(item)" todo-escape="revertEditing(item)" todo-focus="item == editedItem">
						</form>
					</li>
				</ul>
			</section>
			<button class="btn" ng-click="handleButton()">{{editMode ? 'Save' : 'Vote'}}</button>
			<button class="btn cancel" ng-click="toBackup()" ng-show="editMode">Cancel All Edits!</button>
		</section>
		<footer id="info" ng-cloak>
			<p>drag to reorder list, 1st choice goes on top</p>
			<p>double-click the title to enter edit mode</p>
		</footer>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoEscape.js"></script>
	</body>
</html>
